<html lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
    
  </head>

  <body class="hyphenate">
<div class="opening-flavour">
    <h1><%=@quest.name%></h1>

    <h3>Тип задания</h3>
    <p3><%=@quest.short_discription%></p3>


    <h3>Описание квеста</h3>
    <p3><%=@quest.description%></p3>

    <h3>Сложность</h3>
    <p3><%=@quest.difficulty%></p3>


    <h3>Законность</h3>
    <p3><%=@quest.aligment%> </p3>


    <h3>Состав бригады</h3>
    <p3><%=@quest.aligment%> </p3>
    <%if @quest.soldier != 0 %>
    <p3> Солдат: <%=@quest.soldier%> чел.</p3>
    <%end%>
    <%if @quest.missioner != 0 %>
    <p3> Миссионер: <%=@quest.missioner%> чел.</p3>
    <%end%>
    <%if @quest.doctor != 0 %>
    <p3> Лекарь: <%=@quest.doctor%> чел.</p3>
    <%end%>
    <%if @quest.cook != 0 %>
    <p3> Кок: <%=@quest.cook%> чел.</p3>
    <%end%>
    <%if @quest.seeman != 0 %>
    <p3> Моряк: <%=@quest.seeman%> чел.</p3>
    <%end%>
    <%if @quest.carpenter != 0 %>
    <p3> Плотник: <%=@quest.carpenter%> чел.</p3>
    <%end%>
    <%if @quest.parlamenteer != 0 %>
    <p3> Парламентер: <%=@quest.parlamenteer%> чел.</p3>
    <%end%>
    <%if @quest.korrehidor != 0 %>
    <p3> Коррехидор: <%=@quest.korrehidor%> чел.</p3>
    <%end%>
    <%if @quest.trader != 0 %>
    <p3> Торговец: <%=@quest.trader%> чел.</p3>
    <%end%>
    <%if @quest.maper != 0 %>
    <p3> Картограф: <%=@quest.maper%> чел.</p3>
    <%end%>
    <h3>Особый предмет, который нужно принести для выполнения</h3>
    <p3> <%=@quest.requirements%> </p3>


    <h3>Награда</h3>
    <p3><%=@quest.reward%></p3>

<%if @quest.status == "sleep" %>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 


  <%= f.hidden_field :status, value:"wake" %>

  <p3> <%= f.submit 'Разбудить квест'  %></p3>


  <%end%>

  <%elsif @quest.status == "wake" and @quest.soldier+@quest.missioner+@quest.doctor+@quest.cook+@quest.seeman+@quest.carpenter+@quest.korrehidor+@quest.parlamenteer+@quest.trader+@quest.maper==@quest.units.count%>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 


  <%= f.hidden_field :status, value:"active" %>

  <p3> <%= f.submit 'Начать выполнение квеста'  %></p3>


  <%end%>


<%elsif @quest.status == "wake" and @quest.soldier+@quest.missioner+@quest.doctor+@quest.cook+@quest.seeman+@quest.carpenter+@quest.korrehidor+@quest.parlamenteer+@quest.trader+@quest.maper != @quest.units.count%>

<a class="button button-primary cta" href=<%=quest_path(@quest)%>><h2>Назначить игроков</h2></a>


  <%elsif @quest.status == "active" %>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 


  <%= f.hidden_field :status, value:"complete" %>

  <p3> <%= f.submit 'Принять'  %></p3>



  <%end%>


  <% elsif @quest.status == "complete" %>

<h2> Квест выполнен</h2>
<a class="button button-primary cta" href=<%=quests_path%>><h2>Врнуться к списку</h2></a>

<%end%>

<a class="button button-primary cta" href=<%=quest_path(@quest)%>><h2>Открыть</h2></a>