<html lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
    
  </head>

  <body>
<div>
    <h1><%=@quest.name%></h1>

    <h3>Тип задания</h3>
    <p3><%=@quest.short_discription%></p3>


    <h3>Описание квеста</h3>
    <p3><%=@quest.description%></p3>

  


    <h3>Законность</h3>
    <p3><%=@quest.aligment%> </p3>


    <h3>Необходимо игроков:
   
    <%if @quest.soldier != 0 %>
     <%=@quest.soldier%>. </h3>
    <%end%>
    <!--
    <%if @quest.missioner != 0 %>
    <p3> Миссионер: <%=@quest.missioner%> чел.</p3>
    <%end%>
    <%if @quest.doctor != 0 %>
    <p3> Лекарь: <%=@quest.doctor%> чел.</p3>
    <%end%>
    <%if @quest.cook != 0 %>
    <p3> Кок: <%=@quest.cook%> чел.</p3>
    <%end%>
    <%if @quest.seeman != 0 %>
    <p3> Моряк: <%=@quest.seeman%> чел.</p3>
    <%end%>
    <%if @quest.carpenter != 0 %>
    <p3> Плотник: <%=@quest.carpenter%> чел.</p3>
    <%end%>
    <%if @quest.parlamenteer != 0 %>
    <p3> Парламентер: <%=@quest.parlamenteer%> чел.</p3>
    <%end%>
    <%if @quest.korrehidor != 0 %>
    <p3> Коррехидор: <%=@quest.korrehidor%> чел.</p3>
    <%end%>
    <%if @quest.trader != 0 %>
    <p3> Торговец: <%=@quest.trader%> чел.</p3>
    <%end%>
    <%if @quest.maper != 0 %>
    <p3> Картограф: <%=@quest.maper%> чел.</p3>
    <%end%>

  -->
    <h3>Особый предмет или фраза, которые нужно принести или произнести для выполнения</h3>
    <p3> <%=@quest.requirements%> </p3>


    <h3>Награда</h3>
    <p3><%=@quest.reward%></p3>

<br/>
<%if @quest.started_at != nil %>
    <%if @quest.started_at.strftime("%s").to_i > Time.now.strftime("%s").to_i %>
<p2> Осталось до начала квеста: <%=Time.at(@quest.started_at.strftime("%s").to_i - Time.now.strftime("%s").to_i).utc.strftime("%H ч. %M м.")%> </p2>
<%end%>
<%end%>





<%if @quest.status == "sleep" %>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 

 <t2>Название квеста</t2><br/>
   <p1> <%= f.text_field :name , size: "50x1", value: @quest.name %> </p1><br/><br/>

      </div>

      <h3>Описание квеста</h3>
      
      <div class="opening-flavour">
        <%= f.text_area :description , size: "90x5", value: @quest.description %>
      </div>

  


      <p>
        Тип задания
          <%= f.text_field :short_discription, value: @quest.short_discription %>
      </p>

      <br/>
      <!--<p>
        Сложность
          <%= f.select :difficulty, [['Легкий','Легкий'],['Средний','Средний'],['Сложный','Сложный']] %>
      </p>-->

      <br/>

      <p>
        Законность
          <%= f.select :aligment, [['Законный','Законный'],['Противозаконный','Противозаконный']], value: @quest.aligment %>
      </p>
</label>

         <h2>Небходимо игроков: </h2>



<p> <%=f.select :soldier, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10]], value: @quest.soldier%></p><br/>

      
      <h2>Особый предмет или фраза, которые нужно принести или произнести для выполнения<br/>
        <%= f.text_area :requirements , size: "60x3", value: @quest.requirements %>
      </h2><br/>

      <h2>Награда<br/>
        <%= f.text_area :reward , size: "60x3", value: @quest.reward %>
      </h2>





  <h2>Есть квест-помеха  <%=f.select :have_opposite, [['нет'],['да']], value: @quest.have_opposite%></h2>

       <div class="opening-flavour">
        <h2>Описание для противников <%= f.text_area :opposite_description , size: "90x5", value: @quest.description %></h2>
      </div>

           <h2>Необходимо игроков-противников</h2>
      <p> <%=f.select :op_soldier, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10], value: @quest.op_soldier]%></p><br/>
      <label><br/>


      <h2>Особый предмет, который нужно принести для выполнения<br/>
        <%= f.text_area :opposite_requirements , size: "60x3", value: @quest.opposite_requirements %>
      </h2><br/>
      <h2>Награда<br/>
        <%= f.text_area :opposite_reward , size: "60x3", value: @quest.opposite_reward %>
      </h2>

      <%=f.hidden_field :status, value: "sleep"%>

  



  <p3> <%= f.submit 'Отредактировать'  %></p3>


  <%end%>

<%end%>

<%if @quest.status == "sleep" %>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 


  <%= f.hidden_field :status, value:"wake" %>



  <p3> <%= f.submit 'Разбудить квест'  %></p3>


  <%end%>


  <%elsif @quest.status == "wake" and @quest.soldier == @quest.units.count %>
  <% if @quest.aligment == "Законный" %>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 


<%utc_offset = +3%>
<%zone = ActiveSupport::TimeZone[utc_offset].name%>
<%Time.zone = zone%> 
<%Time.zone.now%>


  <%= f.hidden_field :status, value:"active" %>
  <p3> Начать выполнение в:  <%= f.time_select :started_at, value: Time.now.in_time_zone(zone)%><br/></p3>
  <p3> <%= f.submit 'Начать выполнение квеста'  %></p3>
 
<%end%>

<%elsif @quest.status == "active" and @quest.soldier == @quest.units.count %>
<% if @quest.aligment == "Противозаконный" %>


<%utc_offset = +3%>
<%zone = ActiveSupport::TimeZone[utc_offset].name%>
<%Time.zone = zone%> 
<%Time.zone.now%>


  <%= f.hidden_field :status, value:"active" %>
  <p3> Начать выполнение в:  <%= f.time_select :started_at, value: Time.now.in_time_zone(zone)%><br/></p3>
  <p3> <%= f.submit 'Начать выполнение квеста'  %></p3>

 <%end%>

<%end%>


<%elsif @quest.status == "wake" and @quest.soldier != @quest.units.count%>

<a class="button button-primary cta" href=<%=quest_path(@quest)%>><h2>Назначить игроков</h2></a>


  <%elsif @quest.status == "active" %>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 

  <%= f.hidden_field :aligment, value:"Законопослушный" %>
  <%= f.hidden_field :status, value:"complete" %>

  <p3> <%= f.submit 'Принять задание у законопослушной бригады',  data: { confirm: 'Задание полностью выполненно? Все предметы и персонажи присутствуют?' } %></p3>

<br/><hr/><br/>



  <%end%>

    <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 

  <%= f.hidden_field :aligment, value:"Противозаконный" %>
  <%= f.hidden_field :status, value:"complete" %>

  <p3> <%= f.submit 'Принять задание у бандитской бригады',  data: { confirm: 'Задание полностью выполненно? Все предметы и персонажи присутствуют?' } %></p3>





  <%end%>
<hr/>

  <% elsif @quest.status == "complete" %>

<h2> Квест выполнен</h2>
<a class="button button-primary cta" href=<%=quests_path%>><h2>Врнуться к списку</h2></a>

<%end%>

<a class="button button-primary cta" href=<%=quest_path(@quest)%>><h2>Открыть</h2></a>
</div>
</body>
</html>
