<html lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
    
  </head>

  <body>
<div>
    <h1><%=@quest.name%></h1>

    <h3>Тип задания</h3>
    <p3><%=@quest.short_discription%></p3>


    <h3>Описание квеста</h3>
    <p3><%=@quest.description%></p3>

    <h3>Сложность</h3>
    <p3><%=@quest.difficulty%></p3>


    <h3>Законность</h3>
    <p3><%=@quest.aligment%> </p3>


    <h3>Необходимо игроков:
   
    <%if @quest.soldier != 0 %>
     <%=@quest.soldier%>. </h3>
    <%end%>
    <!--
    <%if @quest.missioner != 0 %>
    <p3> Миссионер: <%=@quest.missioner%> чел.</p3>
    <%end%>
    <%if @quest.doctor != 0 %>
    <p3> Лекарь: <%=@quest.doctor%> чел.</p3>
    <%end%>
    <%if @quest.cook != 0 %>
    <p3> Кок: <%=@quest.cook%> чел.</p3>
    <%end%>
    <%if @quest.seeman != 0 %>
    <p3> Моряк: <%=@quest.seeman%> чел.</p3>
    <%end%>
    <%if @quest.carpenter != 0 %>
    <p3> Плотник: <%=@quest.carpenter%> чел.</p3>
    <%end%>
    <%if @quest.parlamenteer != 0 %>
    <p3> Парламентер: <%=@quest.parlamenteer%> чел.</p3>
    <%end%>
    <%if @quest.korrehidor != 0 %>
    <p3> Коррехидор: <%=@quest.korrehidor%> чел.</p3>
    <%end%>
    <%if @quest.trader != 0 %>
    <p3> Торговец: <%=@quest.trader%> чел.</p3>
    <%end%>
    <%if @quest.maper != 0 %>
    <p3> Картограф: <%=@quest.maper%> чел.</p3>
    <%end%>

  -->
    <h3>Особый предмет, который нужно принести для выполнения</h3>
    <p3> <%=@quest.requirements%> </p3>


    <h3>Награда</h3>
    <p3><%=@quest.reward%></p3>

<br/>
<%if @quest.started_at != nil %>
    <%if @quest.started_at.strftime("%s").to_i > Time.now.strftime("%s").to_i %>
<p2> Осталось до начала квеста: <%=Time.at(@quest.started_at.strftime("%s").to_i - Time.now.strftime("%s").to_i).utc.strftime("%H ч. %M м.")%> </p2>
<%end%>
<%end%>


<%if @quest.status == "sleep" %>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 


  <%= f.hidden_field :status, value:"wake" %>



  <p3> <%= f.submit 'Разбудить квест'  %></p3>


  <%end%>

  <%elsif @quest.status == "wake" and @quest.soldier==@quest.units.count or  @quest.aligment == "Противозаконный" and @quest.status == "wake" and @quest.op_soldier== @quest.units.count%>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 

<%utc_offset = +3%>
<%zone = ActiveSupport::TimeZone[utc_offset].name%>
<%Time.zone = zone%> 
<%Time.zone.now%>


  <%= f.hidden_field :status, value:"active" %>
  <p3> Начать выполнение в:  <%= f.time_select :started_at, value: Time.now.in_time_zone(zone)%><br/></p3>
  <p3> <%= f.submit 'Начать выполнение квеста'  %></p3>
 

  <%end%>


<%elsif @quest.status == "wake" and @quest.soldier != @quest.units.count%>

<a class="button button-primary cta" href=<%=quest_path(@quest)%>><h2>Назначить игроков</h2></a>


  <%elsif @quest.status == "active" %>
  <%= form_for :quest, url: quest_path(@quest), method: :put do |f| %> 


  <%= f.hidden_field :status, value:"complete" %>

  <p3> <%= f.submit 'Принять',  data: { confirm: 'Задание полностью выполненно? Все предметы и персонажи присутствуют?' } %></p3>



  <%end%>


  <% elsif @quest.status == "complete" %>

<h2> Квест выполнен</h2>
<a class="button button-primary cta" href=<%=quests_path%>><h2>Врнуться к списку</h2></a>

<%end%>

<a class="button button-primary cta" href=<%=quest_path(@quest)%>><h2>Открыть</h2></a>
</div>
</body>
</html>
