<html lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
    
  </head>

  <body class="hyphenate">

    <h1>Новое задание</h1>
               <label>

    <%= form_for :quest,  url: quests_path do |f| %> 

      <div class="readaloud">
    <t2>Название квеста</t2><br/>
   <p1> <%= f.text_field :name , size: "50x1", value: @name %> </p1><br/><br/>

      </div>

      <h3>Описание квеста</h3>
      
      <div class="opening-flavour">
        <%= f.text_area :description , size: "90x5", value: @description %>
      </div>

      <h3>Описание контрквеста</h3>
      


      <p>
        Тип задания
          <%= f.select :short_discription, [['Сопровождение груза','caravan'],['Сопровождение дворянина','bodyguard'],['Конвоирование преступника','convoy'],['Перехват груза','intercept_cargo']] %>
      </p>

      <br/>
      <p>
        Сложность
          <%= f.select :difficulty, [['Легкий','easy'],['Средний','medium'],['Сложный','hard']] %>
      </p>

      <br/>

      <p>
        Законность
          <%= f.select :aligment, [['Законный','good'],['Противозаконный','bad']] %>
      </p>
</label>

         <h2>Состав бригады</h2>
<form1>
    <p>
      <br/><label>Профессия</label>
        <%= f.select :requirements, [['Моряк','seeman'],['Доктор','doctor'],['Солдат','soldier'],['Кожевник','skin']] %>
        <label>Количество</label>
        <%= f.text_field :requirements , size: "4", value: 1 %>
        <span class="remove">Убрать</span>
    </p>
    <p>
        <span class="add">Добавить</span>
    </p>
</form1>



         <br/>

      <p class="dropcap">
        More styles are available, like the ones shown below,
        including lists, quotes, and alternative colouring and layout.
      </p>

      <p>
          You can sub-divide sections even further to explain more minor point.
          Like if you want to explain about different kinds of movement.
      </p>

      <h4>Burrow</h4>
      
      <p>
        Curabitur rutrum non diam in eleifend.
      </p>

      <h4>Climb</h4>
      
      <p>
        Nulla gravida dui et ipsum iaculis eleifend.
      </p>

      <h4>Fly</h4>

      <p>
        Aenean volutpat, nisi in pellentesque consectetur, dui mauris tempor
        sapien, non volutpat quam quam id arcu.
      </p>

      <p>
        Below is a list of some creatures that can fly:
      </p>

      <p>
        <strong>Unladen Swallows</strong> can fly.
        Some have even been known to carry coconuts over long distances.
      </p>

      <p>
        <strong>Bees</strong> can fly too. They like birds, so sometimes they
        fly together.
      </p>

      <p>
        <strong>Penguins</strong> can fly too if they swim really fast first.
      </p>

      <p>
        Fusce maximus lacus pulvinar augue venenatis, sed ullamcorper odio gravida.
        Maecenas nec dapibus elit, et faucibus enim.
        Nulla auctor viverra orci ac tempor.
        Mauris fringilla rhoncus nibh, quis volutpat velit vehicula et.
      </p>
      
      <div class="sidenote">
        <h4>Sidenotes</h4>
        
        <p>
          Sometimes we might have asides to include.
        </p>

        <p>
          This is the kind of place we can put them.
        </p>
      </div>

      <div class="page-break"></div>

      <h2>More styles</h2>

      <p class="dropcap">
        More styles are available, like the ones shown below,
        including lists, quotes, and alternative colouring and layout.
      </p>

      <h3 class="blue-head">Alternative header</h3>

      <p>
        Colours that work really well include:
      </p>
      
      <ul>
        <li>
          Burgundy
        </li>
        <li>
          Brown
        </li>
        <li>
          Golden
        </li>
        <li>
          Grey
        </li>
      </ul>

      <p>
        Don't quote me on that though.
      </p>

      <blockquote>
        <p>
          This is the single best thing since sliced bread. Perhaps.
        </p>

        <cite>
          The Author, <i>The Scriptures</i>
        </cite>
      </blockquote>


      <div class="opening-flavour">
        <%= f.text_area :opposite_description , size: "90x5", value: @description %>
      </div>
 <%end%>

  </body>
</html>