<html lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
    
  </head>

  <body class="hyphenate">
<div class="opening-flavour">
    <h1>Новое задание</h1>
<label>

    <%= form_for :quest,  url: quests_path do |f| %> 

      <div class="readaloud">
    <t2>Название квеста</t2><br/>
   <p1> <%= f.text_field :name , size: "50x1", value: @name %> </p1><br/><br/>

      </div>

      <h3>Описание квеста</h3>
      
      <div class="opening-flavour">
        <%= f.text_area :description , size: "90x5", value: @description %>
      </div>

  


      <p>
        Тип задания
          <%= f.select :short_discription, [['Сопровождение груза','Сопровождение груза'],['Сопровождение дворянина','Сопровождение дворянина'],['Конвоирование преступника','Конвоирование преступника'],['Перехват груза','Перехват груза']] %>
      </p>

      <br/>
      <p>
        Сложность
          <%= f.select :difficulty, [['Легкий','Легкий'],['Средний','Средний'],['Сложный','Сложный']] %>
      </p>

      <br/>

      <p>
        Законность
          <%= f.select :aligment, [['Законный','Законный'],['Противозаконный','Противозаконный']] %>
      </p>
</label>

         <h2>Состав бригады</h2>

<label><br/>
  <p3>Профессия и количество </p3><br/><br/>
  <p>Солдат <%=f.select :soldier, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Миссионер <%=f.select :missioner, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Лекарь <%=f.select :doctor, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Кок <%=f.select :cook, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Моряк <%=f.select :seeman, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Плотник <%=f.select :carpenter, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Парламентер <%=f.select :parlamenteer, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Коррехидор <%=f.select :korrehidor, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Торговец <%=f.select :trader, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Картограф <%=f.select :maper, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
    


      
      <h2>Особый предмет, который нужно принести для выполнения<br/>
        <%= f.text_area :requirements , size: "60x3", value: "Нет" %>
      </h2><br/>

      <h2>Награда<br/>
        <%= f.text_area :reward , size: "60x3", value: "Нет" %>
      </h2>





  <h2>Есть квест-помеха  <%=f.select :have_opposite, [['нет'],['да']]%></h2>

       <div class="opening-flavour">
        <h2>Описание для противников <%= f.text_area :opposite_description , size: "90x5", value: @description %></h2>
      </div>

           <h2>Состав бригады-противников</h2>

<label><br/>
  <p3>Профессия и количество </p3><br/><br/>
  <p>Солдат <%=f.select :op_soldier, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Миссионер <%=f.select :op_missioner, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Лекарь <%=f.select :op_doctor, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Кок <%=f.select :op_cook, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Моряк <%=f.select :op_seeman, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Плотник <%=f.select :op_carpenter, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Парламентер <%=f.select :op_parlamenteer, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Коррехидор <%=f.select :op_korrehidor, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Торговец <%=f.select :op_trader, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>
  <p>Картограф <%=f.select :op_maper, [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%></p><br/>


      <h2>Особый предмет, который нужно принести для выполнения<br/>
        <%= f.text_area :opposite_requirements , size: "60x3", value: "Нет" %>
      </h2><br/>
      <h2>Награда<br/>
        <%= f.text_area :opposite_reward , size: "60x3", value: "Нет" %>
      </h2>

      <%=f.hidden_field :status, value: "sleep"%>

</label>
       
      <button class="button button-primary cta " type="submit">Создать квест</button>
</label>
 <%end%>
</div>
  </body>
</html>