<html lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
    
  </head>

  <body>
<div>
    <h1><%=@quest.name%></h1>
<%if @quest.started_at != nil %>
    <%if @quest.started_at.strftime("%s").to_i > Time.now.strftime("%s").to_i %>
<p2> Осталось до начала квеста: <%=Time.at(@quest.started_at.strftime("%s").to_i - Time.now.strftime("%s").to_i).utc.strftime("%H ч. %M м.")%> </p2>
<%end%>
<%end%>
 

    <h3><h2>Количество игроков: </h2></h3>


<table>
          <tr>
            <th>
              Номер наемника
            </th>
            <th>
              Номер игрока
            </th>
            <th>
              Уволить
            </th>

          </tr>
          <tr>
          
  <% if @quest.status == "wake" and @quest.aligment == "Законный" %>

<!-- Добавление игроков -->
<%if @quest.soldier != nil %>
        
        <%@arr = Array.new%>
        <%@players.each do |player| %>
            <%@arr  << [player.number]  %>
        <%end%>
        <%@i = 1 %>
        
        
            <%@quest.soldier.times do %></p3>
               <%@unit = @units.where(number:@i,name:"солдат", u_aligment:"good").take%>
                <% if @unit != nil %>
                     <td>
                        <%=@unit.number %>
                            
                    </td>
                    <td>
                    <%=@unit.player %></td>
                    <td>
                    <%= link_to 'Уволить',  quest_unit_path(@unit.quest, @unit),   method: :delete, data: { confirm: 'Точно?' } %></td>
                                        <%@i+=1%>

                <%else%>
                        <%= form_for ([@quest, @quest.units.build]) do |f| %>
                                           <td>
                                            <%= @i%>
                                                
                                            </td>

                                          <td> 
                                           <%=  f.hidden_field :name, value: "солдат"%>
                                            <%= f.hidden_field :number, value: @i  %>
                                            <%= f.hidden_field :u_aligment, value: "good" %>
                                            <!--<%= f.select :player, @arr %>-->
                                            <!--<%= f.submit  'нанять'%>-->
                                            <%= f.select :player, @arr, { class: 'form-control'}, :onchange => 'this.form.submit()' %>
                                        </td>
                                            <%@i+=1%>
                                        <td>
                                                Нанят
                                        </td>
            <%end%>
                      

        <%end%>
   </tr>
    <%end%>
        <%end%>
          
</table>    






    <%end%>
</div>
    <%if @quest.soldier != nil %>
    <p3>  <%=@quest.soldier%> чел.</p3>
    <%end%>
    <!--
    <%if @quest.missioner != 0 %>
    <p3> Миссионер: <%=@quest.missioner%> чел.</p3>
    <%end%>
    <%if @quest.doctor != 0 %>
    <p3> Лекарь: <%=@quest.doctor%> чел.</p3>
    <%end%>
    <%if @quest.cook != 0 %>
    <p3> Кок: <%=@quest.cook%> чел.</p3>
    <%end%>
    <%if @quest.seeman != 0 %>
    <p3> Моряк: <%=@quest.seeman%> чел.</p3>
    <%end%>
    <%if @quest.carpenter != 0 %>
    <p3> Плотник: <%=@quest.carpenter%> чел.</p3>
    <%end%>
    <%if @quest.parlamenteer != 0 %>
    <p3> Парламентер: <%=@quest.parlamenteer%> чел.</p3>
    <%end%>
    <%if @quest.korrehidor != 0 %>
    <p3> Коррехидор: <%=@quest.korrehidor%> чел.</p3>
    <%end%>
    <%if @quest.trader != 0 %>
    <p3> Торговец: <%=@quest.trader%> чел.</p3>
    <%end%>
    <%if @quest.maper != 0 %>
    <p3> Картограф: <%=@quest.maper%> чел.</p3>
    <%end%>

-->

    <h3>Тип задания</h3>
    <p3><%=@quest.short_discription%></p3>


    <h3>Описание квеста</h3>
    <p3><%=@quest.description%></p3>

    <h3>Сложность</h3>
    <p3><%=@quest.difficulty%></p3>


    <h3>Законность</h3>
    <p3><%=@quest.aligment%> </p3>

    <h3>Особый предмет, который нужно принести для выполнения</h3>
    <p3> <%=@quest.requirements%> </p3>


    <h3>Награда</h3>
    <p3><%=@quest.reward%></p3>
</div>










<%@quest.units.count%>

<% if @quest.soldier==@quest.units.count and @quest.status == "wake" %>

 

<a class="button button-primary cta" href=<%=edit_quest_path(@quest)%>><h2>Выдать</h2></a>

<% elsif @quest.status == "active" %>

<h2> Квест в процессе выполнения</h2>

<a class="button button-primary cta" href=<%=edit_quest_path(@quest)%>><h2>Принять</h2></a>


<%elsif @quest.status == "complete"%>

<h2> Квест выполнен</h2>

<a class="button button-primary cta" href=<%=quests_path%>><h2>Назад к списку</h2></a>

<%end%>
<div class="two-columns">





    <% if @quest.aligment == "Законный" and @quest.status == "active" and @quest.have_opposite == "да" or @quest.aligment == "Противозаконный" and @quest.status =="wake"%>
   <!-- Добавление солдатов -->


   <h2>Назначить бригаду противозаконную</h2>

            <%if @quest.op_soldier != 0 %>
                <%@op_i = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Солдат: <%@quest.op_soldier.times do %></p3><br/>
                        <%unit = @units.where(number:@op_i,name:"солдат",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й солдат нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_i%><%=  f.hidden_field :name, value: "солдат"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_i %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_i+=1%>
                    <%end%>
                <%end%><br/><br/>

 <!-- Добавление миссионера -->


            <%if @quest.op_missioner != 0 %>
                <%@op_m = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Миссионер: <%@quest.op_missioner.times do %></p3><br/>
                        <%unit = @units.where(number:@op_m, name:"миссионер",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й миссионер нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_m%><%=  f.hidden_field :name, value: "миссионер"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_m %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_m+=1%>
                    <%end%>
                <%end%><br/><br/>
                 <!-- Добавление лекаря -->

            <%if @quest.op_doctor != 0 %>
                <%@op_d = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Лекарь: <%@quest.op_doctor.times do %></p3><br/>
                        <%unit = @units.where(number:@op_d,name: "лекарь",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й лекарь нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_d%><%=  f.hidden_field :name, value: "лекарь"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_d %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_d+=1%>
                    <%end%>
                <%end%><br/><br/>

        <!-- Добавление кока -->

            <%if @quest.op_cook != 0 %>
                <%@op_c = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Кок: <%@quest.op_cook.times do %></p3><br/>
                        <%unit = @units.where(number:@op_c,name: "кок",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й кок нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_c%><%=  f.hidden_field :name, value: "кок"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_c %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_c+=1%>
                    <%end%>
                <%end%><br/><br/>


        <!-- Добавление моряка -->

            <%if @quest.op_seeman != 0 %>
                <%@op_s = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Моряк: <%@quest.op_seeman.times do %></p3><br/>
                        <%unit = @units.where(number:@op_s,name: "моряк",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й моряк нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_s%><%=  f.hidden_field :name, value: "моряк"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_s %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_s+=1%>
                    <%end%>
                <%end%><br/><br/>
        
<!-- Добавление плотника -->

            <%if @quest.op_carpenter != 0 %>
                <%@op_cp = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Плотник: <%@quest.op_carpenter.times do %></p3><br/>
                        <%unit = @units.where(number:@op_cp,name: "плотник",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й плотник нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_cp%><%=  f.hidden_field :name, value: "плотник"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_cp %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_cp+=1%>
                    <%end%>
                <%end%><br/><br/>

<!-- Добавление парламентера -->

            <%if @quest.op_parlamenteer != 0 %>
                <%@op_p = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Парламентер: <%@quest.op_parlamenteer.times do %></p3><br/>
                        <%unit = @units.where(number:@op_p,name: "парламентер",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й парламентер нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_p%><%=  f.hidden_field :name, value: "парламентер"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_p %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_p+=1%>
                    <%end%>
                <%end%><br/><br/>
        
<!-- Добавление коррехидора -->

            <%if @quest.op_korrehidor != 0 %>
                <%@op_k = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Коррехидор: <%@quest.op_korrehidor.times do %></p3><br/>
                        <%unit = @units.where(number:@op_k,name: "коррехидор",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й коррехидор нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_k%><%=  f.hidden_field :name, value: "коррехидор"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_k %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_k+=1%>
                    <%end%>
                <%end%><br/><br/>
        
<!-- Добавление торговца -->

            <%if @quest.op_trader != 0 %>
                <%@op_t = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Торговец: <%@quest.op_trader.times do %></p3><br/>
                        <%unit = @units.where(number:@op_t,name: "торговец",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й торговец нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_t%><%=  f.hidden_field :name, value: "торговец"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_t %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_t+=1%>
                    <%end%>
                <%end%><br/><br/>
        <!-- Добавление картографа -->

            <%if @quest.op_maper != 0 %>
                <%@op_ma = 1%>
                <%@arr = Array.new%>
                        <%@players.each do |player| %>
                            <%@arr  << [player.number]  %>
                        <%end%>

                 <p3> Картограф: <%@quest.op_maper.times do %></p3><br/>
                        <%unit = @units.where(number:@op_ma,name: "картограф",u_aligment:"bad").take%>

                        <% if unit != nil %>
                        <p3><%=unit.number %>-й картограф нанят, игрок №
                        <%=unit.player %></p3><br/>


                    <%= link_to 'Delete',  quest_unit_path(unit.quest, unit),   method: :delete, data: { confirm: 'Are you sure?' } %>

                        <%else%>

                        <%= form_for ([@quest, @quest.units.build]) do |f| %> 
                        <%= @op_ma%><%=  f.hidden_field :name, value: "картограф"%>
                        <%= f.hidden_field :u_aligment, value: "bad" %>
                        <%= f.hidden_field :number, value: @op_ma %>
                        <%= f.select :player, @arr %>
                        <%= f.submit  'нанять'%>
                        <%end%>

                        <%end%>
                        <%@op_ma+=1%>
                    <%end%>
                <%end%><br/><br/>

<%end%>

</div>


                <%@op_u =@quest.soldier%>

                <% if @quest.op_soldier==@quest.units.count-@op_u and @quest.status == "active" or @quest.aligment == "Противозаконный" and @quest.status == "wake" and @quest.op_soldier== @quest.units.count %>

                <a class="button button-primary cta" href=<%=edit_quest_path(@quest)%>><h2>Выдать Противозаконный квест</h2></a>
                <%end%>
</body>
</html>
