<!DOCTYPE html>
<html>
  <head>
    <title>DccCl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<link rel="stylesheet" href="/css/stats.css">
<link rel="stylesheet" href="/css/navbar.css">


 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  




  </head>

  <body>
    <%if user_signed_in? %>
    <h3>Привет, <%=current_user.email%>.
    Твое мировоззрение: <%=current_user.aligment%>. Твой уровень доступа: <%=current_user.level%></h3>
    <hr/>
<%end%>
    <a class="nav-link active" aria-current="page" href=<%=quests_url%>><h2>Все квесты</h2></a>
    <input  type="button" onclick="history.back();" value="Назад"/>
  
    <!--<a class="nav-link" href="#"></a>
 
    <a class="nav-link" href="#">Link</a>

    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<hr/>

    <%= yield %>

    <script src="/js/stats.js"></script>
    <script src="/js/dynamic.js"></script>

  </body>
</html>
